body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#hp_header {
    position: sticky;
    background-image: linear-gradient(to bottom, rgb(45, 255, 185), rgb(218, 255, 243));
    text-align: center;
    height: 100px;
    box-shadow: 0px 0px 10px black;
}
#hp_header div {
    height: inherit;
    align-content: center;
}
#hp_header div p {
    font-size: large;
    font-weight: 500;
    color:rgb(0, 0, 0);
}
.user {
    height: 20px; 
    vertical-align: top;
    text-decoration: none;
    margin-left: 3px;
    text-align: right;
}

.options {
    box-shadow: 1px 0px 10px black;
    width: 150px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 1;
}

.options div {
    height: 100px;
}

.options div p {
    padding: 10px;
    text-align: center;
}

.main_content {
    flex-grow: 1; 
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

#progress_board {
    display: grid;
    grid-template-columns:  2fr 1fr;
    overflow: hidden;
    margin: 5px; 
    flex-shrink: 0;

}

.inner_div_prog {
    padding: 2vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.streak_calendar{
    height: fit-content;
    width: fit-content;
    text-align: center;
}

th {
    text-align: center;
}
td {
    border: 1px solid black;
    text-align: center;
}
td, th {
    padding: 5px;
}
table {
    background-image: linear-gradient(to bottom, rgb(45, 255, 185), rgb(218, 255, 243));
    justify-self: center;
    border-collapse: collapse;
}

.progress_pie {
    height: 30vh;
    width: 30vh;
    border: 1px solid black;
    border-radius: 15vh;
    left: 0;
}

.exercise_options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px;
    flex-shrink: 0;
    height: 25vh;
}

.exercise_options div {
    text-align: center;
    height: 100%;
}

.exercise_options div button {    
    border: 1px solid black;
    background-color: aquamarine;
    width: 20vw;
    height: 25vh;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 10vh;
    border: none;
    box-shadow: 0px 0px 10px black;
}

.exercise_options div button h3 {
    color: aliceblue;
}
.exercise_options div button:hover {
    width: 21vw;
    height: 26vh;
    box-shadow: 0px 0px 15px black;
}

#btn1 {
    background-image: url(icons/Main_Benefitsofexercise.jpg);
    background-position:center;
    background-size: cover;
}

#btn2 {
    background-image: url(icons/medium.jpg);
    background-position:center;
    background-size: cover;
}

#btn3 {
    background-image: url(icons/complex.jpg);
    background-position:center;
    background-size: cover;
}
