* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
}

.login-container {
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.signUp-container {
  background: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  width: 500px;
}

.signUp-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0e0e0f;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #e6e6ef;
  color: #0e0e0f;
}

.other-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.other-text a {
  color: #3939b9;
  text-decoration: none;
}

.other-text a:hover {
  color: #45454c;
  text-decoration: none;
}